<meta content='IE=edge' http-equiv='X-UA-Compatible'/>
<meta charset="utf-8">
<META HTTP-EQUIV="CONTENT-LANGUAGE" CONTENT="ru">

<form name="quiz" class="quiz" id="quiz" action="javascript:check();">
<div class="ozeronazv">
    <h3>
        Граффити
    </h3>
</div>
<p>
    <font size = '4'>
    Граффити – это рисунки или надписи на стенах или
    других местах, выполненные без официального разрешения. Используйте
    письма для ответов на вопросы, предлагаемые ниже.</p>

</div>
<p >
    <font size = '4'>
    Я киплю от злости, так как в
четвертый раз стену школы
очищают и перекрашивают, чтобы
покончить с граффити. Творчество –
это прекрасно, но почему же не
найти такие способы
самовыражения, которые не
причиняли бы лишний ущерб
обществу?
Почему надо портить репутацию
молодого поколения, рисуя на
стенах там, где это запрещено?
Ведь художники-профессионалы не
вывешивают свои полотна на
улицах, не так ли? Вместо этого они
находят средства и завоевывают
славу на официальных выставках.
По моему представлению,
здания, ограда, парковые скамейки
сами по себе произведения
искусства. И разве не жалко портить
эту архитектуру росписью, не говоря
уже о том, что используемый для
этого метод разрушает озоновый
слой. И я не могу понять, почему эти
самозванные художники так злятся,
когда их так называемые
«художественные полотна» убирают
с глаз долой снова и снова.

</p>
<div>Хельга</div>

<p>
    <font size = '4'>
        У людей разные вкусы. Общество
        перенасыщено информацией и
        рекламой. Знаки торговых компаний,
        названия магазинов. Большие
        навязчивые плакаты по обеим
        сторонам улиц. Приемлемо ли все
        это? В основном, да. А приемлемы
        ли граффити? Некоторые говорят
        да, некоторые – нет.
        Кто платит за эти граффити? А
        кто в конечном итоге платит за
        рекламу? Правильно. Потребитель.
        А спросили ли те, кто ставит
        рекламные щиты, вашего
        разрешения? Нет. Тогда должны ли
        это делать люди, рисующие на
        стенах? Не просто ли это вариант
        общения, например, ваше
        собственное имя, названия партий
        или большие произведения искусств
        на улице?
        Только вспомните о полосатой и
        клетчатой одежде, появившейся в
        магазинах несколько лет назад. И о
        лыжных костюмах. Модели и цвета
        были скопированы с разрисованных
        бетонных стен. Довольно забавно,
        что и эти модели, и цвета
        принимаются сегодня в обществе,
        восхищают, а граффити в том же
        стиле считаются ужасными.
        Да, трудные времена настали для
        искусства.

</p>
<div>Софья</div>





<h3> Вопрос 1: Граффити  </h3>
<p>Почему Софья ссылается на рекламу?</p>
<input name="vopros1" checked="checked" value="yes" id="value1" type="radio"> Она говорит, что реклама – это легальная форма граффити. <br>
<input name="vopros1" value="no" id="value2" type="radio">Это способ выражения ее точки зрения. <br>
<input name="vopros1" value="no" id="value3" type="radio">Упоминает для примера. <br>
<input name="vopros1" value="no" id="value4" type="radio">Информация об этом отсутствует. <br>


<h3> Вопрос 2: Граффити </h3>
<p>
    Цель каждого из писем:

</p>
<input name="vopros2" checked="checked" value="no" id="value1" type="radio"> объяснить, что такое граффити <br>
<input name="vopros2" value="no" id="value2" type="radio"> выразить свое мнение о граффити. <br>
<input name="vopros2" value="yes" id="value3" type="radio"> продемонстрировать популярность граффити.
<br>
<input name="vopros2" value="no" id="value4" type="radio"> рассказать людям, что очень много средств тратится, чтобы смыть эти
росписи. <br>

<h3> Вопрос 3: Граффити </h3>
<p>Почему автор выбрал именно этот год в качестве начальной точки на
    графике?</p>
<input name="vopros3" checked="checked" value="no" id="value1" type="radio"> Потому что в это время озеро Чад полностью высохло. <br>
<input name="vopros3" value="yes" id="value2" type="radio"> Тогда озеро появилось снова после того, как 9000 лет оно не
существовало. <br>
<input name="vopros3" value="no" id="value3" type="radio"> Тогда начали появляться животные <br>
<input name="vopros3" value="no" id="value4" type="radio"> Потому что это было первое продвижение на графике <br>
<br>
<h3> Вопрос 4: Граффити </h3>
<p>Рисунок 2 основан на предположении о том, что:</p>
<input name="vopros4" checked="checked" value="yes" id="value1" type="radio">животные, изображенные на наскальных рисунках, обитали в районе озера
Чад в то время, когда их рисовали. <br>
<input name="vopros4" value="no" id="value2" type="radio">художники, рисовавшие животных, имели высокую технику рисунка <br>
<input name="vopros4" value="no" id="value3" type="radio">художники, рисовавшие животных, имели возможность путешествовать на
дальние расстояния.
 <br>
<input name="vopros4" value="no" id="value4" type="radio">не было попытки приручить животных, изображенных на наскальных
рисунках. <br>

<h3> Вопрос 5: Граффити </h3>
<p>
    Для ответа на этот вопрос вам нужно объединить информацию,
представленную на рисунках 1 и 2.
Исчезновение носорога, гиппопотама и зубра с наскальных рисунков
пустыни Сахара произошло:
</p>
<input name="vopros5" checked="checked" value="no" id="value1" type="radio"> в начале самого последнего Ледникового периода <br>
<input name="vopros5" value="no" id="value2" type="radio"> в середине периода, когда глубина озера Чад достигала наивысшего
уровня.<br>
<input name="vopros5" value="yes" id="value3" type="radio"> после того, как уровень озера Чад снижался в течение более тысячи лет. <br>
<input name="vopros5" value="no" id="value4" type="radio"> в начале непрерывного сухого периода. <br>
<br>
<input value="Отправить ответы" type="submit">
</form>
<script>
 function check()
 {
 var yes=0;
 var no=0;
 var otvet="";
 var choice;
 for (var v=1; v<=3; v++)
 {
 var q = document.forms['quiz'].elements['vopros'+v];
  for (var i=0; i<q.length; i++)
  {
  if (q[i].checked) {
  choice=q[i].value;
  }
  }
  if (choice=="yes") {yes++;}
  if (choice=="no") {no++;}
 }
 switch (true) {
 case (yes==0): otvet="Ваша оценка: 2";break;
 case (yes==1): otvet="Ваша оценка: 3";break;
 case (yes==2): otvet="Ваша оценка: 4";break;
 case (yes==3): otvet="Ваша оценка: 5";break;
 default: otvet="очень плохо";break;
 }
 alert(otvet);
 }
</script>


