<meta content='IE=edge' http-equiv='X-UA-Compatible'/>
<meta charset="utf-8">
<META HTTP-EQUIV="CONTENT-LANGUAGE" CONTENT="ru">

<form name="quiz" class="quiz" id="quiz" action="javascript:check();">
<div class="ozeronazv">
    <h3>
        Бегуны
    </h3>
</div>
<p>В течение 14 лет Центр спортивной медицины в Лионе (Франция)
    исследует проблемы травматизма молодых спортсменов. В результате
    исследований было установлено, что лучшее средство от травм – это их
    предупреждение … и хорошая обувь
    </p>
<div class="ozero">
    <img class="ozero_img" src="https://i.imgur.com/ZLHKcIh.jpg" alt='ozero'>
</div>
<p>
   <div><h4>Удары, падения,
    износ и разрывы...</h4> </div>
    Восемнадцать процентов
    спортсменов в возрасте от
    8 до 12 лет уже имеют
    повреждения в пятках.
    Хрящ в лодыжке футболиста уже не реагирует на
    удары, и 25 % профессионалов понимают, что это
    действительно их самое
    слабое место. Хрящ хрупкого коленного сустава
    может быть также сильно
    поврежден, и если не принимать никаких мер еще в
    детстве (когда ребенку 10-
    12 лет), то это может
    стать причиной преждевременного остеоартрита.
    Бедро тоже может не избежать повреждений, особенно когда игрок устал,
    он рискует получить перелом в результате падений
    или столкновений.
    Согласно тому же исследованию, у футболистов, играющих уже более
    10 лет, появляются костные наросты на голени
    или пятке. Эти костные
    изменения получили
    название «нога футболиста», то есть деформация вызванная подвижностью
    ступни и лодыжки в спортивной обуви.
    <div><h4>Защита, поддержка,
        устойчивость, амортизация</h4> </div>
        Если спортивная обувь
слишком жесткая, то она
часто ограничивает ваше
движение. Если она слишом подвижна, то она увеличивает риск получения
травм и растяжения суставов. Хорошая спортивная обувь должна соответствовать четырем критериям:
во-первых, она должна
способствовать защите
извне: защищать от ударов мяча или ударов другого игрока, скрывать неровность спортивной площадки и сохранять ногу
теплой и сухой даже в
мороз и дождь.
Она должна поддерживать ступню и особенно
сустав лодыжки, чтобы
избежать растяжений,
опухолей и других травм,
которые могут даже повредить колено.
Она также должна давать
игроку чувство устойчивости. В ней он не должен скользить по мокрой
площадке и не должен
резко падать на слишком
сухой поверхности.
Наконец, она должна
амортизировать удары,
как это бывает у баскетболистов и волейболистов, которые постоянно
совершают прыжки.
<div><h4>Сухие ноги</h4> </div>
Чтобы избежать незначительных, но болезненных недомоганий, таких,
как волдыри, трещины или
грибковые заболевания
ног (грибковые инфекции),
спортивная обувь не
должна препятствовать
испарению пота, но должна предотвращать попадание внутрь сырости.
Идеальным материалом
для этого может служить
водостойкая кожа, чтобы
защитить обувь от промокания при первом же дожде.
</p>







<h3> Вопрос 1: Бегуны  </h3>
<p>Что автор намеревался показать в этом тексте?</p>
<input name="vopros1" checked="checked" value="no" id="value1" type="radio"> Что качество многих видов спортивной обуви сильно улучшилось. <br>
<input name="vopros1" value="no" id="value2" type="radio">Что лучше не играть в футбол, если вам меньше 12 лет <br>
<input name="vopros1" value="no" id="value3" type="radio">Что молодые люди все больше страдают от разных травм из-за своего
плохого физического состояния.  <br>
<input name="vopros1" value="yes" id="value4" type="radio">Что очень важно молодым спортсменам носить хорошую спортивную обувь  <br>

<h3> Вопрос 2: Бегуны </h3>
<p>
    Почему, согласно статье, спортивная обувь не должна быть слишком
жесткой?

</p>
<input name="vopros2" checked="checked" value="no" id="value1" type="radio"> Жесткая обувь ограничивает движение. <br>
<input name="vopros2" value="no" id="value2" type="radio">Она не может поддерживать ступню.<br>
<input name="vopros2" value="yes" id="value3" type="radio"> Чтобы избежать травм<br>
<input name="vopros2" value="no" id="value4" type="radio">  Потому что вам нужно поддержать ступню и лодыжку. <br>

<h3> Вопрос 3: Бегуны </h3>
<p>Прочитайте еще раз предложение в конце статьи. Оно представлено
    двумя частями:
    «Чтобы избежать незначительных, но болезненных
    недомоганий, таких, как волдыри, трещины или грибковые
    заболевания ног (грибковые инфекции), …»
    (первая часть)
    «…спортивная обувь не должна препятствовать испарению
    пота, но должна предотвращать попадание внутрь сырости.»
    (вторая часть)
    Какова связь между первой и второй частями этого предложения?
    Вторая часть
    </p>
<input name="vopros3" checked="checked" value="no" id="value1" type="radio"> противоречит первой части. <br>
<input name="vopros3" value="yes" id="value2" type="radio"> повторяет первую часть.  <br>
<input name="vopros3" value="no" id="value3" type="radio"> иллюстрирует проблему, описанную в первой части. <br>
<input name="vopros3" value="no" id="value4" type="radio"> дает решение проблемы, описанной в первой части.  <br>
<br>

<br>
<input value="Отправить ответы" type="submit">
</form>
<script>
 function check()
 {
 var yes=0;
 var no=0;
 var otvet="";
 var choice;
 for (var v=1; v<=3; v++)
 {
 var q = document.forms['quiz'].elements['vopros'+v];
  for (var i=0; i<q.length; i++)
  {
  if (q[i].checked) {
  choice=q[i].value;
  }
  }
  if (choice=="yes") {yes++;}
  if (choice=="no") {no++;}
 }
 switch (true) {
 case (yes==0): otvet="Ваша оценка: 2";break;
 case (yes==1): otvet="Ваша оценка: 3";break;
 case (yes==2): otvet="Ваша оценка: 4";break;
 case (yes==3): otvet="Ваша оценка: 5";break;
 default: otvet="очень плохо";break;
 }
 alert(otvet);
 }
</script>